<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All User List</title>
    <link rel="stylesheet" href="./CSS/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 px-5 py-10 text-white">
      <div class="nav my-5">
        <a class="px-2 py-2 text-blue-500 text-xl" href="/">Back to home</a>
      </div>
      <h1 class="text-3xl font-bold mb-5">All User List</h1>
      <div class="users flex gap-5 flex-wrap">
        <% if(users.length > 0 ) { %> <% users.forEach((user)=>{%>
        <div class="user w-72 p-4 bg-zinc-700 rounded-lg">
          <div class="image w-full h-72 rounded-lg bg-red-500 overflow-hidden">
            <img
              src="<%= user.imageurl %>"
              class="w-full h-full object-cover"
              alt=""
            />
          </div>
          <h3 class="mt-3 tracking-tighter text-xl"><%= user.name %></h3>
          <h5 class="mt-2 tracking-tighter text-zinc-400"><%= user.email %></h5>
          <div class="mt-10 flex gap-5">
            <a
              href="/edit/<%= user._id %>"
              class="px-5 py-2 rounded-lg bg-blue-600 font-semibold"
              >Edit User
            </a>
            <a
              href="/delete/<%= user._id %>"
              class="px-5 py-2 rounded-lg bg-red-600 font-semibold"
              >Delete</a
            >
          </div>
        </div>
        <%})%> <% } else { %>
            <h3 class="text-2xl font-bold text-gray-500 "> No User Found</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
